<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>959647180</integer>
	<integer>840420551</integer>
	<integer>2125819954</integer>
	<integer>2842125440</integer>
	<integer>957453931</integer>
	<integer>2246577204</integer>
	<integer>149063986</integer>
	<integer>1826082870</integer>
	<integer>614471732</integer>
	<integer>1677269042</integer>
	<integer>3105080135</integer>
	<integer>1369828460</integer>
	<integer>2659472993</integer>
	<integer>3669704584</integer>
	<integer>1877478986</integer>
</array>
</plist>
