<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>3488038464</integer>
	<integer>2842125440</integer>
	<integer>957453931</integer>
	<integer>3650432710</integer>
	<integer>1384350312</integer>
	<integer>838525884</integer>
	<integer>959647180</integer>
</array>
</plist>
